<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace = "com.cjf.market.goods.mapper.GoodsMapper">
  <resultMap id="ResultMap" type="GoodsModel">
		<result column="id" property="id" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="price" property="price" />
		<result column="descr" property="descr" />
		<result column="ammount" property="ammount" />
		<result column="cond" property="cond" />
		<result column="categorycode" property="categorycode" />
	</resultMap>
	<sql id = "listcolumn">
		id, code, name, price, descr, ammount, cond, categorycode
	</sql>
	<sql id="whereclause">
		where 1=1
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="code != null and code != ''">
				and code = #{code}
			</if>
			<if test="name != null and name != ''">
				and name like #{name}
			</if>
			<if test="price != null and price != ''">
				and price = #{price}
			</if>
			<if test="descr != null and descr != ''">
				and descr = #{descr}
			</if>
			<if test="ammount != null and ammount != ''">
				and ammount = #{ammount}
			</if>
			<if test="cond != null and cond != ''">
				and cond = #{cond}
			</if>
			<if test="categorycode != null and categorycode != ''">
				and categorycode = #{categorycode}
			</if>
	</sql>
	<insert id = 'insert' parameterType="Object">
		insert into b2c_market.goods(code, name, price, descr, ammount, cond, categorycode)
		values(#{code}, #{name}, #{price}, #{descr}, #{ammount}, #{cond}, #{categorycode})
	</insert>
	<delete id="delete" parameterType="Object">
		delete from b2c_market.goods where code = #{code}
	</delete>
	<update id = 'update' parameterType="Object">
		update b2c_market.goods set
		<trim suffixOverrides=",">
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="price != null and price != ''">
			 	price = #{price},
			</if>
			<if test = "descr != null and descr != ''">
				descr = #{descr},
			</if>
			<if test="ammount != null and ammount != ''">
				ammount = #{ammount},
			</if>
			<if test="cond != null and cond != ''">
				cond = #{cond},
			</if>
			<if test = "categorycode != null and categorycode != ''">
				categorycode = #{categorycode},
			</if>
		</trim>
		where code = #{code}
	</update>
	<select id="select" resultMap="ResultMap" parameterType="Object">
		select <include refid="listcolumn"/> 
		from b2c_market.goods <include refid="whereclause"/>
	</select>
	<select id="count" resultType="java.lang.Integer" parameterType="Object">
		select count(1) from b2c_market.goods <include refid="whereclause"/>
	</select>
	<select id="selectall" resultMap = "ResultMap" parameterType="Object">
		select <include refid="listcolumn"/>
		from b2c_market.goods <include refid="whereclause"/> limit ${rowStart}, ${pageLimit}
	</select>
	</mapper>